<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/common_header.ejs") %>
        <script src="../js/room.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="whole-wrapper">
            <div class="room-upper-tab">
                <span class="room-title">
                    <span style="color: rgb(129, 255, 112);"><%= roomBossName %></span>'s Room
                    <input id="my_user_id" type="hidden" value="<%= myUserId %>">
                    <input id="my_nickname" type="hidden" value="<%= myNickname %>">
                    <input id="my_tag" type="hidden" value="<%= myTag %>">
                    <input id="room_id" type="hidden" value="<%= roomId %>">
                </span>
            </div>
            <div class="room-content" id="room_content">
                <div class="participants-list-wrapper">
                    <div class="upper-info-tab">
                        <span>Participants (</span><span id="participants_num">0</span><span>)</span>
                    </div>
                    <div class="participants-list" id="participants_list">
                    </div>
                </div>
                <div class="chatting-wrapper">
                    <div class="upper-info-tab">
                        <span>Chat (</span><span id="chats_num">0</span><span>)</span>
                    </div>
                    <div class="chat-list" id="chat_list"></div>
                    <div class="chat-typer-wrapper" id="chat_typer_wrapper">
                        <textarea id="chat_typer" spellcheck="false"></textarea>
                    </div>
                </div>
                <div class="shared-file-list-wrapper">
                    <div class="upper-info-tab">
                        <span class="block-span">Shared (0/1)</span>
                    </div>
                    <div class="file-entry-area">
                        <table class="file-list-table" id="upload_table">
                            <tbody id="shared_body">
                                <tr class="first-line">
                                    <th>File Name</th>
                                    <th>Ext.</th>
                                    <th>File Size</th>
                                    <th>Download</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="file-upload-download">
                    <div class="upload-list-wrapper">
                        <div class="upper-info-tab">
                            <span class="block-span">Upload (1/2)</span>
                        </div>
                        <div class="file-entry-area drag-droppable-area" id="upload_area">
                            <table class="file-list-table" id="upload_table">
                                <thead>
                                    <tr class="first-line">
                                        <th>File Name</th>
                                        <th>Ext.</th>
                                        <th>File Size</th>
                                        <th>Status</th>
                                        <th>Remain</th>
                                        <th>Progress</th>
                                    </tr>
                                </thead>
                                <tbody id="upload_body">
                                </tbody>
                            </table>
                            <div class="drag-and-drop-guide-wrapper">
                                <span tabindex="-1">Drag & drop here</span>
                            </div>
                        </div>
                    </div>
                    <div class="download-list-wrapper">
                        <div class="upper-info-tab">
                            <span class="block-span">Download (0)</span>
                        </div>
                        <div class="file-entry-area" id="download_area">
                            <table class="file-list-table" id="download_table">
                                <tr class="first-line">
                                    <th>File Name</th>
                                    <th>Ext.</th>
                                    <th>File Size</th>
                                    <th>Status</th>
                                    <th>Remain</th>
                                    <th>Progress</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>